<div style="text-align: center; position: absolute;
left: auto;
width: 50px;
height: 60px;
 ">
first_name:<input type="text" [(ngModel)]="json.FirstName"><br><br>

last_name:<input type="text" [(ngModel)]="json.LastName"><br><br>

Email : <input type="text" [(ngModel)]="json.Email"><br><br>

Id : <input type="text" [(ngModel)]="json.Id"><br><br>

Phone : <input type="text" [(ngModel)]="json.PhoneNumber"><br><br>

Designation:<input type="text" [(ngModel)]="json.Designation"><br><br>

DOB : <input type="text" [(ngModel)]="json.DOB"><br><br>

<button style = " padding: 5px" type="button" (click)="add()">add+</button>
</div>
